<%- include('partials/header'); -%>


<ul class="recipes">
  <li class="recipe">
    <img src="https://i0.wp.com/myprettybrowneats.com/wp-content/uploads/2020/10/Creamy-Banana-Boost-Shake-My-Pretty-Brown-blank.jpg?resize=800%2C1115&ssl=1" alt="smoothie recipe icon">
    <h4>Banana Boost</h4>
    <p>Banana, Vanilla ice cream, Milk</p>
  </li>
  <li class="recipe">
    <img src="https://popmenucloud.com/cdn-cgi/image/width%3D1200%2Cheight%3D1200%2Cfit%3Dscale-down%2Cformat%3Dauto%2Cquality%3D60/odusqltx/b1920d77-62ed-4bcf-b127-3eb4214aff96.jpg" alt="smoothie recipe icon">
    <h4>Tropical Twist</h4>
    <p>Peach, Pinapple, Apple juice</p>
  </li>
  <li class="recipe">
    <img src="https://cutekidstuff.com/cdn/shop/products/Protein5_1200x.jpg?v=1680812128" alt="smoothie recipe icon">
    <h4>Protein Packer</h4>
    <p>Oats, Peanut butter, Milk, Banana, Blueberries</p>
  </li>
  <li class="recipe">
    <img src="https://assets.bonappetit.com/photos/63b5fe187015aa59a8e880ac/1:1/w_3226,h_3226,c_limit/010323-its-greek-yogurt-taste-test-01.jpg" alt="smoothie recipe icon">
    <h4>Greek Yogurt</h4>
    <p>Banana, Peanut Butter, Milk</p>
  </li>
  <li class="recipe">
    <img src="https://cdn.loveandlemons.com/wp-content/uploads/2022/12/green-smoothie.jpg" alt="smoothie recipe icon">
    <h4>Green Smoothie</h4>
    <p>Peach, Pinapple, Apple juice</p>
  </li>
  <li class="recipe">
    <img src="https://cleancuisine.com/wp-content/uploads/2020/04/pre-workout-breakfast-smoothie-bowl-recipe.png" alt="smoothie recipe icon">
    <h4>Pre-workout Smoothie</h4>
    <p>Oats, Peanut butter, Milk, Banana, Blueberries</p>
  </li>
</ul>


<%- include('partials/footer'); -%>